
    <!-- <div class="form-group row">
      <label for="inputText3" class="col-sm-2 col-form-label">Institute :</label>
      <div class="col-sm-10">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Institute
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="">University of Moratuwa-Faculty of IT</a></li>
            <li><a href="">University of Moratuwa-Dept of CS</a></li>
            <li><a href="">Universit of Colombo School of computing</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputText3" class="col-sm-2 col-form-label">Select date :</label>
      <div class="col-sm-10">
        <div class="form-group row">
          <div class="col-sm-10">
            <form action="/action_page.php">
              From : <input type="date" name="bday">
            </form>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <form action="/action_page.php">
              To &nbsp;&nbsp;&nbsp;&nbsp;: <input type="date" name="bday">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputText3" class="col-sm-2 col-form-label">Select details you want :</label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" value="">First Name</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Last Name</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">E-mail</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Conatact No</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Home address</label>
        </div>
      </div>
    </div>



    <div class="col-xs-2">
      <input type="submit" class="btn btn-primary" value="Filter">
    </div> -->

    



    <app-adminview></app-adminview>

 

  <!-- <div class="container">
    <h3>Filtered details</h3>
           
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div> -->



 





