.hasanga{
    width:800px;
   margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto; 
              padding-top:90px;  
             }
   .hasanga1{
       padding:2%;
   }