<div class="x" *ngIf='isAdmin'>
    <br><br><br>
<h2><strong>You Are Logged As an Admin...</strong></h2><br>
<img src="../../assets/logo/2.png" style="width:20%; height:20%">
</div>

<div class="x" *ngIf='isSup'>
        <br><br><br>
        <h2><strong>You Are Logged As a Supervisor...</strong></h2><br>
        <img src="../../assets/logo/2.png" style="width:20%; height:20%">
    </div>

    <div class="x" *ngIf='isStudent'>
            <br><br><br>
            <h2><strong>You Are Logged As a Student...</strong></h2><br>
            <img src="../../assets/logo/2.png" style="width:20%; height:20%">
        </div>